body {

    background-color: lightblue;
}
.topButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    

}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 30px 30px;
    box-shadow:3px 3px 3px rgb(90, 89, 89);
    width: 30vw;
    height:15vh;
    font-size:2.5vw;
    text-align: center;
}
.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px 10px;
    box-shadow:3px 3px 3px rgb(90, 89, 89);
    width: fit-content;
    height: fit-content;
    align-items: center;
    font-size:1.5vw;
    font-family:cursive;
}
/* #container {
    background-color: lightblue;
} */

.quizContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue;
    font-size:3vw;
    font-family:cursive;
    text-shadow: 3px 3px 3px darkgray;
}
.quiztimer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightblue;
    font-size:2vw;
    font-family:cursive;
    text-shadow: 3px 3px 3px darkgray;
    text-align: center;
}
.quizAnswers {
    display: flex;
    flex-flow: column;
    align-items: center;
}